annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
beautifulsoup4==4.14.3
certifi==2026.4.22
chardet==3.0.4
charset-normalizer==3.4.7
click==8.1.8
deep-translator==1.11.4
defusedxml==0.7.1
distro==1.9.0
exceptiongroup==1.3.1
fastapi==0.128.8
ftfy==6.3.1
googletrans==4.0.0rc1
h11==0.16.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==5.2.0
idna==2.10
jiter==0.14.0
openai==2.37.0
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.1
requests==2.32.5
rfc3986==1.5.0
sniffio==1.3.1
soupsieve==2.8.3
starlette==0.49.3
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.39.0
wcwidth==0.7.0
youtube-transcript-api==1.2.4
yt-dlp==2025.10.14
